@import "tailwindcss";

:root {
  --white: #eaeaea;
  --primary: #0A1633;
  --accent: #FF6A00
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
}
